snippet dd "Debug Dump"
console.log(${0});return;
endsnippet

snippet du "Debug Dump"
console.log(${0})
endsnippet

snippet fn "Function" i
function
endsnippet

snippet if "If"
if ($1) {
    ${0:${VISUAL}}
}
endsnippet

snippet else "Else"
 else {
    ${0:${VISUAL}}
}
endsnippet

snippet elif "Elseif"
 else if ($1) {
    ${0:${VISUAL}}
}
endsnippet

snippet try "Try/catch" b
try {
    ${1:${VISUAL}}
} catch (error) {
    $0
}
endsnippet
