snippet if "If"
if [ $1 ]; then
    ${0:${VISUAL}}
fi
endsnippet

snippet else "Else"
else
    ${0:${VISUAL}}
endsnippet

snippet elif "Elseif"
elif [ $1 ]; then
    ${0:${VISUAL}}
endsnippet

snippet for "For loop"
for $1 in $2
do
    ${0:${VISUAL}}
done
endsnippet
