[user]
	name = Freddie Gar
	email = freddie.gar@out"look.c"om
	signingkey = B6DA77D432ADED0F
[core]
	editor = vim
	excludesFile = ~/.gitignore
[commit]
	gpgsign = true
[mergetool]
	prompt = false
	keepBackup = false
	hideResolved = true
	useAutoMerge = auto
[merge]
	tool = vimdiff
	; Weird view
	; conflictstyle = diff3
	; Available in 2.35+
	; @see https://git-scm.com/docs/git-merge#_how_conflicts_are_presented
	; conflictstyle = zdiff3
[diff]
	algorithm = histogram
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
