[user]
	name = Freddie Gar
	email = freddie.gar@out"look.c"om
	signingkey = B6DA77D432ADED0F
[core]
	editor = vim
	excludesFile = ~/.gitignore
	; @see https://www.git-tower.com/blog/git-performance/
	untrackedcache = true
	fsmonitor = true
	commitgraph = true
	; hooksPath = /var/www/html/freddiegar/services/git/hooks
[commit]
	gpgsign = true
[mergetool]
	prompt = false
	keepBackup = false
	hideResolved = true
	useAutoMerge = auto
[merge]
	tool = vimdiff
	; Weird view
	; conflictstyle = diff3
	; Available in 2.35+
	; @see https://git-scm.com/docs/git-merge#_how_conflicts_are_presented
	; Weird view (too)
	; conflictstyle = zdiff3
[diff]
	algorithm = histogram
	trustExitCode = true
[pull]
	rebase = false
[rerere]
	enabled = true
; [column]
; 	ui = auto
[branch]
	sort = -committerdate
[fetch]
	writeCommitGraph = true
[push]
	default = current
	autoSetupRemote = true
[color]
	ui = auto
[color "diff"]
	wordDiff = true
[advice]
	mergeConflict = false
	addEmptyPathspec = false
; [includeIf "gitdir:/var/www/html/context/project"]
;     path = .gitconfig.project
[init]
	defaultBranch = master
