version: '3.8'

services:
  db:
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: ''
          memory: ''

  cache:
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: ''
          memory: ''

  apache74:
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: ''
          memory: ''

networks:
  development:
    external: true

