# @see https://devhints.io/vim-digraphs
# @see https://vim-jp.org/vimdoc-en/digraph.html#digraphs-default
snippet .- "• " w
•
endsnippet

snippet .v "✓" w
✓
endsnippet

snippet .f "✗" w
✗
endsnippet

snippet .s "☺" w
☺
endsnippet

snippet .S "☻" w
☻
endsnippet
