#
# The MySQL  Server configuration file.
#
# For explanations see
# https://dev.mysql.com/doc/mysql/en/dynindex-sysvar.html
# https://dev.mysql.com/doc/mysql/en/server-system-variables.html
# @see https://dev.mysql.com/doc/refman/8.0/en/mysqlslap.html

[client]
protocol                                = tcp                               # Explicit: https://dev.mysql.com/doc/mysql/en/transport-protocols.html
default-character-set                   = utf8

[mysql]
default-character-set                   = utf8

[mysqld]
pid-file                                = /var/run/mysqld/mysqld.pid
socket                                  = /var/run/mysqld/mysqld.sock
datadir                                 = /var/lib/mysql
symbolic-links                          = 0                                 # Recommended to prevent assorted security risks
explicit_defaults_for_timestamp         = 1

# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_max_allowed_packet
max_allowed_packet                      = 67108864                          # In bytes (5.7: 4M 8.0: 64M)

sql-mode                                = "ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
log_error                               = /var/log/mysql/error.log
general_log                             = 0
general_log_file                        = /var/log/mysql/mysql.log
slow_query_log                          = 0
long_query_time                         = 10                                # In seconds
log_queries_not_using_indexes           = 0
log_throttle_queries_not_using_indexes  = 0                                 # Same query not using index in same minute
slow_query_log_file                     = /var/log/mysql/slow.log
log_error_verbosity                     = 1                                 # 1: Errors
                                                                            # 2: Errors + Warning (default)
                                                                            # 3: Errors + Warnings + Info

key_buffer_size                         = 409M                              # 20% of total RAM

# https://dev.mysql.com/doc/mysql/en/innodb-buffer-pool-resize.html
# https://dev.mysql.com/doc/mysql/en/innodb-init-startup-configuration.html
# https://www.percona.com/blog/10-mysql-performance-tuning-settings-after-installation/

# @see https://youtu.be/LZTXuR0xS40?t=819
# Run data in memory in better, Buffer Pool Size is important!
# select format_bytes(@@innodb_buffer_pool_size) BufferPoolSize, format(A.num*100.0/B.num,2) BufferPoolFullPct, format(C.num*100.0/D.num,2) BufferPoolDirtyPct from (select variable_value num from performance_schema.global_status where variable_name = 'Innodb_buffer_pool_pages_data') A, (select variable_value num from performance_schema.global_status where variable_name = 'Innodb_buffer_pool_pages_total') B, (select variable_value num from performance_schema.global_status where variable_name = 'Innodb_buffer_pool_pages_dirty') C, (select variable_value num from performance_schema.global_status where variable_name = 'Innodb_buffer_pool_pages_total') D;
# select format(A.num*100/B.num,2) DiskReadRatioPct from (select variable_value num from performance_schema.global_status where variable_name = 'Innodb_buffer_pool_reads') A, (select variable_value num from performance_schema.global_status where variable_name = 'Innodb_buffer_pool_read_requests') B;

# show variables like '%innodb_buffer_pool_size%';
# show variables like '%innodb_log_file_size%';
# show variables like '%innodb_redo_log_capacity%';
# show variables like '%innodb_flush_method%';

# https://dev.mysql.com/doc/refman/8.0/en/innodb-dedicated-server.html
# innodb_dedicated_server                 = 1
# innodb_buffer_pool_size               | 128M  |
# innodb_log_file_size                  | 50M   |
# innodb_redo_log_capacity              | 104M  |
# innodb_flush_method                   | fsync |

# @see https://www.percona.com/blog/mysql-101-parameters-to-tune-for-mysql-performance/
innodb_buffer_pool_size                 = 1433M                             # 50% - 70% of total RAM and >= innodb_buffer_pool_instances * innodb_buffer_pool_chunk_size
innodb_log_file_size                    = 614M                              # 25% of innodb_buffer_pool_size
# innodb_redo_log_capacity                = 614M                              # 25% of innodb_buffer_pool_size (only 8.0.30+)
innodb_flush_method                     = O_DIRECT                          # Avoid double buffering
innodb_file_per_table                   = 1
innodb_stats_on_metadata                = 0
innodb_buffer_pool_instances            = 8                                 # 1 or 8 if innodb_buffer_pool_size >= 1GB
innodb_buffer_pool_chunk_size           = 128M                              # Default: 128M, but, better explicit
innodb_log_buffer_size                  = 48M                               # Default: 16M, more is less I/O

# @see https://dev.mysql.com/doc/refman/8.0/en/innodb-parameters.html#sysvar_innodb_flush_log_at_trx_commit
# 0: logs are written and flushed to disk once per second. Transactions for which logs have not been flushed can be lost in a crash.
# 1: is required for full ACID compliance. Logs are written and flushed to disk at each transaction commit.
# 2: logs are written after each transaction commit and flushed to disk once per second. Transactions for which logs have not been flushed can be lost in a crash.
innodb_flush_log_at_trx_commit          = 2                                 # Default: 1
innodb_autoinc_lock_mode                = 2                                 # Default: 2

# @see https://reintech.io/blog/optimizing-mysql-for-ssd-storage
innodb_io_capacity                      = 2000                              # Default: 20
innodb_io_capacity_max                  = 4000                              # Default: 2000
innodb_thread_concurrency               = 16                                # Default: 0

host_cache_size                         = 0
skip_name_resolve                       = 1

character_set_server                    = utf8mb4
collation_server                        = utf8mb4_0900_ai_ci
# https://dev.mysql.com/doc/mysql/en/innodb-troubleshooting-datadict.html
# innodb_force_recovery                   = 1                                 # Used after innodb corruption

table_open_cache                        = 2500                              # > 2000
table_definition_cache                  = 5000                              # > 4412

# Removed in 8.0
# query_cache_type                        = 1                                 # Default: off
# query_cache_size                        = 10M                               # Default: 1M

# https://dev.mysql.com/doc/mysql/en/replication-options-replica.html
# server-id                               = 18                                  # Turn-off is dummy testing server
# log_bin                                 = /var/log/mysql/replication.log
# binlog_do_db                            = microsites_co

# https://stackoverflow.com/questions/56389698/why-super-privileges-are-disabled-when-binary-logging-option-is-on#56390000
log_bin_trust_function_creators         = 1

[mysqld_safe]
default-character-set                   = utf8
