set commentary

" Search
set hlsearch
set incsearch

" Custom Render
set scrolloff=1

" Custom View
set number
set relativenumber

set noruler
set showmode
set showcmd
set laststatus=2

" Maps
let mapleader = "\<Space>"
let maplocalleader = "\<Space>"
noremap <Space> <Nop>

" Indent without kill the selection in visual mode
xmap < <gv
xmap > >gv

" Purify
noremap <Up> <Nop>
noremap <Down> <Nop>
noremap <Left> <Nop>
noremap <Right> <Nop>

" Utility
nnoremap <silent> Q @@
vnoremap <silent> Q :normal! @@<Enter>gv
vnoremap <silent> . :normal! .<Enter>gv
nnoremap <silent> Y y$
nnoremap <silent> gl `.

noremap <silent> <Enter> :nohlsearch<Enter>
