#
# The MySQL  Server configuration file.
#
# For explanations see
# https://dev.mysql.com/doc/mysql/en/dynindex-sysvar.html
# https://dev.mysql.com/doc/mysql/en/server-system-variables.html

[client]
protocol                                = tcp                               # Explicit: https://dev.mysql.com/doc/mysql/en/transport-protocols.html
default-character-set                   = utf8

[mysql]
default-character-set                   = utf8

[mysqld]
pid-file                                = /var/run/mysqld/mysqld.pid
socket                                  = /var/run/mysqld/mysqld.sock
datadir                                 = /var/lib/mysql
symbolic-links                          = 0                                 # Recommended to prevent assorted security risks
explicit_defaults_for_timestamp         = 1

# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_max_allowed_packet
max_allowed_packet                      = 67108864                          # In bytes (5.7: 4M 8.0: 64M)

sql-mode                                = "ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
log_error                               = /var/log/mysql/error.log
general_log                             = 0
general_log_file                        = /var/log/mysql/mysql.log
slow_query_log                          = 1
long_query_time                         = 1                                 # In seconds
log_queries_not_using_indexes           = 1
log_throttle_queries_not_using_indexes  = 1                                 # Same query not using index in same minute
slow_query_log_file                     = /var/log/mysql/slow.log
log_error_verbosity                     = 2                                 # 1: Errors
                                                                            # 2: Errors + Warning
                                                                            # 3: Errors + Warnings + Info

key_buffer_size                         = 409M                              # 20% of total RAM

# https://dev.mysql.com/doc/mysql/en/innodb-buffer-pool-resize.html
# https://dev.mysql.com/doc/mysql/en/innodb-init-startup-configuration.html
# https://www.percona.com/blog/10-mysql-performance-tuning-settings-after-installation/
innodb_buffer_pool_size                 = 1024M                             # 50% - 70% of total RAM and >= innodb_buffer_pool_instances * innodb_buffer_pool_chunk_size
innodb_log_file_size                    = 256M                              # 25% of innodb_buffer_pool_size
innodb_flush_method                     = O_DIRECT                          # Avoid double buffering
innodb_file_per_table                   = 1
innodb_stats_on_metadata                = 0

# @see https://dev.mysql.com/doc/refman/8.4/en/innodb-buffer-pool-resize.html
innodb_buffer_pool_instances            = 8                                 # 1 or 8 if innodb_buffer_pool_size >= 1GB
innodb_buffer_pool_chunk_size           = 128M                              # Default: 128M, but, better explicit
innodb_log_buffer_size                  = 64M                               # Default: 64M, more is less I/O

host_cache_size                         = 0
skip_name_resolve                       = 1

character-set-server                    = utf8
collation-server                        = utf8_general_ci
# https://dev.mysql.com/doc/mysql/en/innodb-troubleshooting-datadict.html
# innodb_force_recovery                   = 1                                 # Used after innodb corruption

table_open_cache                        = 2500                              # > 2000
table_definition_cache                  = 5000                              # > 4412

query_cache_type                        = 1                                 # Default: off
query_cache_size                        = 10M                               # Default: 1M

# https://dev.mysql.com/doc/mysql/en/replication-options-replica.html
server-id                               = 10
log_bin                                 = /var/log/mysql/replication.log
binlog_do_db                            = microsites_co

# https://stackoverflow.com/questions/56389698/why-super-privileges-are-disabled-when-binary-logging-option-is-on#56390000
log_bin_trust_function_creators         = 1

[mysqld_safe]
default-character-set                   = utf8
